table{
    border-collapse: collapse;
    width: 80%;
    height: auto;
}

table td{
    padding: 2% 10% 2% 10%;
}

fieldset{
    background-color: bisque;
    border-radius: 8px;
}

button {
    padding: 10px 25px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}