h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 30px;
  color: #5c3d2e;
}

form {
  background-color: #fdfaf6;
  padding: 30px;
  margin: 30px auto;
  border-radius: 12px;
  max-width: 500px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
}

.table td {
  padding: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border 0.3s ease;
}

input:focus {
  border-color: #b9936c;
  outline: none;
}

button[type="submit"] {
  background-color: #5c3d2e;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #7a5233;
}
