a {
  text-decoration: none;
  color: #000;
}

.login {
  position: absolute;
  left: 15%;
  right: 15%;
  top: 10%;
  opacity: 0.9;
}

.login {
  background-color: bisque;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}