input, textarea, select{
  width: 100%;
  max-width: 400px;
  padding: 0.5em;
  margin: 1em 0;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.orders{
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    list-style-type: none;
}

.products-container, .customer{
    padding: 1rem;
    font-family: Arial, sans-serif;
  }
  
  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }
  
  .product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .product-card h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .product-card p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .product-card button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .product-card button:hover {
    background-color: #0056b3;
  }

  li{
    list-style: none;
  }

